.myAffairs {
    padding: 50px 0 50px 0;
    width: 500px;
    margin: 0 auto;
}

.myAffairs h2 {
    text-align: center;
}

.myAffairs ul {
    text-align: center;
    list-style: none;
}

.list_btn {
    display: inline-block;
    margin-left: 20px;
}

.filter_btn_inner {
    display: flex;
    justify-content: space-around;
}

